# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

expt/
data/

*.csv
*.sh
final_test/

results/
*.parquet

cache/

profile/
profilenew/
*.zip

expt/
large_expt/

finetune_*/
*expt/
*expt*/

finetune_*/


*results*/